body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #e3e0dd;
    font-family: Comic Sans MS;
    position: relative;
    /* Add position relative to the body */
}

/* Add smoothness for transitions between pages */
.loading {
    background-image: url(/static/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Create a full background of the screen */
    height: 100vh;
    width: 100vw;


    position: fixed;
    /* Use fixed positioning for the loading screen */
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 1s;
    z-index: 100;
    /* Set a higher z-index to place it on top of other elements */

    animation: fading 1s, invisible 0.001s 1s;
    animation-fill-mode: forwards;
    /* Keep the animation state after it ends */

    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the text and other stuff */
}

/* Annimation for loading */
@keyframes fading {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    99.5% {
        opacity: 0.05;
    }

    100% {
        opacity: 0;
        /* Quickly fade out */
    }
}

@keyframes invisible {
    0% {
        z-index: 1;
    }

    100% {
        z-index: -1;
        /* Hide the loading text behind all the element 
        so it doesn't cover everything*/
    }
}

.loading-text {
    color: #e3e0dd;
    font-weight: 900;
    font-size: min(6rem, 10.5vw);
}

/* End of transitions between pages */


/* Navigation bar part */
.top_nav {
    width: 100%;
    height: 8vh;
    background-color: #02604c;

    display: flex;
    align-items: center;
    /* Full width with some height, and center displayed the items */
}

.ul_flex {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-left: 3vw;
    padding-right: 3vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Simple terms, create a container in the nav bar, and ensure items are even spread*/
}

li {
    font-size: min(2rem, 3.5vw);
    font-weight: bold;
    height: 100%;
    /* Basically the box of the nav bar */
}

li a {
    text-decoration: none;
    color: #fdfdfd;
    opacity: 0.8;
    transition: color 1s, font-size 1s, font-style 0s;
    /* Links inside the box */
}

/* Apply hover color and scaling effect to 'a' element */
li a:hover {
    color: rgb(207, 223, 220);
    font-size: min(2.5rem, 4.3875vw);
    font-style: italic;
    transition: color 1s, font-size 1s, font-style 0s;
}

a {
    text-decoration: none;
    color: #fdfdfd;
}

/* End of Nav bar */



/* Home page css */
.home-background {
    display: flex;
    align-items: center;
    height: 92vh;
    width: 100%;
    background-image: url(/static/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Set a background, full to screen basically, center display contents*/
}

.home-image {
    width: 34vw;
    height: 24vw;
    margin-bottom: 2vh;
    border-radius: 2vh;
    transition: 1s;
    /* Set the size and shape of the home page image */
}

.home-image:hover {
    scale: 1.02;
    transition: 1s;
}


/* The 2 containers are pretty much the same apart from their margin*/
.home-container-left {
    width: 36vw;
    height: 72vh;
    border-radius: 3vh;

    margin-left: 9.3vw;
    margin-right: 9.4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: min(1.4rem, 2.45vw);
    background-color: rgba(2, 96, 76, 0.3);
    transition: 1s;
    /* One container on the left and the other one on the right, size is kind of enough to fit contents in */
}

.home-container-left:hover {
    scale: 1.05;
    transition: 1s;
    opacity: 0.9;
}

.home-container-right {
    width: 36vw;
    height: 72vh;
    border-radius: 3vh;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: min(1.4rem, 2.45vw);
    background-color: rgba(2, 96, 76, 0.3);
    transition: 1s;
}


.home-container-right:hover {
    scale: 1.05;
    transition: 1s;
    opacity: 0.8;
}

/* End of the containers */


/* Note option page is now using the CSS on the home page */
/* Maybe it will have its unique CSS when more functionality added to option.html */


/* Subject trend filter page CSS */
.subject-trend-filter-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width: 100%;
    background-image: url(/static/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Set a background, full to screen basically, center display contents*/
}

.subject-trend-filter-title {
    font-size: min(3rem, 5.25vw);
    font-weight: 600;
}

.note {
    color: #f6ff00da;
}


.subject-trend-filter-container1 {
    width: 60vw;
    height: 72vh;
    border-radius: 3vh;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: min(1.4rem, 2.45vw);
    background-color: rgba(2, 96, 76, 0.3);
    transition: scale 1s, opacity 1s;
    /* Main container */
}

.subject-trend-filter-container1:hover {
    scale: 1.05;
    transition: 1s;
    opacity: 0.9;
}

/* tHE Layouts are basically trying to manupulate contents into different layers
like one line by one line after each other */
.subject-trend-filter-layout1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-trend-filter-layout2 {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}

.subject-trend-filter-layout3 {
    width: 35%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-trend-filter-label {
    font-size: min(1.6rem, 1.92vw);
    font-weight: 600;
}


.subject-trend-filter-button {
    font-size: min(1.5rem, 2.525vw);
    font-weight: bold;

    height: 5vh;
    width: min(11rem, 19vw);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.9;

    border-radius: 1rem;
    border: 0.2rem solid #b8baa5;
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #001b2e5e;
    transition: scale 2s, opacity 2s, border 2s;
}

.subject-trend-filter-button:hover {
    border: 0.2rem solid #72cb87;
    box-shadow: 0 0 2rem rgba(0, 255, 47, 0.8);
    /* Add glowing box-shadow */
    scale: 1.1;
    transition: border-color 1s, box-shadow 1s, scale 1s;
}

/* End of Subject Trend Filter 1 CSS*/


/* Start of Subject Trend Filter 2 CSS*/
.subject-trend-filter-container2 {
    width: 60vw;
    height: 75vh;
    border-radius: 3vh;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: min(1.4rem, 2.45vw);
    background-color: rgba(2, 96, 76, 0.3);
    transition: scale 1s, opacity 1s;
    /* Main container */
}

.subject-trend-filter-container2:hover {
    scale: 1.05;
    transition: 1s;
    opacity: 0.9;
}

/* Setting different layers for the contents so they are in different lines */
.subject-trend-filter-layout4 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-trend-filter-layout5 {
    width: 100%;
    height: 10.5vh;
    display: flex;
    justify-content: space-between;
}

.subject-trend-filter-layout6 {
    width: 45%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* CSS for select/drop downs */
.styled-checkbox {
    opacity: 0;
    position: absolute;
}

/* Styles for checkbox */
.tick {
    display: inline-block;
    width: min(1.6rem, 1.92vw);
    height: min(1.6rem, 1.92vw);
    background-color: #d9e9cb;
    border-radius: 0.4rem;
    border: 0.1rem solid #b8baa5;
    margin-left: 1rem;
    cursor: pointer;
    position: relative;
    transition: background-color 1s;
}

/* Change the color after checked */
.styled-checkbox:checked+.tick {
    background-color: #72cb87;
    border-color: #72cb87;
}

.styled-checkbox:checked+.tick::after {
    content: '\2713';
    font-size: min(1.2rem, 1.44vw);
    position: absolute;
    left: 18%;
    color: white;
}

/* Styles for single dropdowns */
select {
    background-color: #d9e9cb;
    border-radius: 1rem;
    border: 0.3rem solid #b8baa5;
    margin: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    font-size: min(1.4rem, 1.68vw);
    font-family: Comic Sans MS;
    transition: border-color 2s, box-shadow 2s, scale 2s;
}

select:hover {
    border: 0.4rem solid #72cb87;
    box-shadow: 0 0 2rem rgba(0, 255, 47, 0.8);
    /* Add glowing box-shadow */
    margin: 0;
    scale: 1.1;
    transition: border-color 1s, box-shadow 1s, scale 1s;
}

select:focus {
    border: 0.4rem solid #22c75c;
    box-shadow: 0 0 2rem rgba(0, 255, 47, 0.8);
    opacity: 0.85;
}

select option {
    background-color: #fdfdfd00;
    font-size: min(1.4rem, 1.68vw);

    font-family: Comic Sans MS;
    transition: background-color 1s, opacity 1s;
}

/* Styles for multi-selects */
.multiple-dropdown {
    background-color: #d9e9cb;
    border-radius: 1rem;
    border: 0.3rem solid #b8baa5;
    font-size: min(1.6rem, 1.3vw);

    width: 20.5vw;
    height: 4.8vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    transition: border-color 2s, box-shadow 2s, scale 2s;
}

.multiple-dropdown:hover {
    border: 0.4rem solid #72cb87;
    box-shadow: 0 0 2rem rgba(0, 255, 47, 0.8);
    margin: 0;
    scale: 1.1;
    transition: border-color 1s, box-shadow 1s, scale 1s;
}

.multiple-dropdown:focus {
    border: 0.4rem solid #22c75c;
    box-shadow: 0 0 2rem rgba(0, 255, 47, 0.8);
    opacity: 0.85;
}


.multiple-select {
    width: 19.8vw;
    height: 16vh;
    position: absolute;
    z-index: 1;
}

.multiple-select:hover {
    opacity: 1;
    scale: 1;
}

.multiple-select option {
    font-size: min(1.2rem, 1.44vw);
    transition: 0s;
}

.multiple-select option:hover {
    background-color: #96d4d6;
    color: #f3fffe;
    transition: 0s;
}

/* End of select class */


/* Start of dropout trend filter CSS */
.dropout-trend-filter-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(/static/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Background in full screen, screen with can be more than the computer screen so it's 100% height */
}

/* Codes for the styles are pretty self-explannatory for below */
.dropout-trend-filter-container {
    width: 76vw;
    height: 70%;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border-radius: 4vh;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: min(1.4rem, 2.45vw);
    background-color: rgba(2, 96, 76, 0.3);
    transition: scale 1s, opacity 1s;
}

.dropout-trend-filter-container:hover {
    scale: 1.05;
    transition: 1s;
    background-color: rgba(2, 96, 76, 0.24);
}

/* As usual, creating layers in order to seperate the lines for different contents */
.dropout-trend-filter-layout1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropout-trend-filter-layout2 {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}

.dropout-trend-filter-layout3 {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropout-trend-filter-label {
    font-size: min(1.6rem, 1.92vw);
    font-weight: 600;
}

/* End of dropout trend filter CSS */


/* Start of dropout graph page */
.dropout-trend-graph-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-bottom: 10vh;
    background-image: url(/static/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
    /* Background in full screen, screen with can be more than the computer screen so it's 100% height */
}

.dropout-trend-graph-layout {
    margin-top: 11vh;
    margin-bottom: 13vh;

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* create another invisible box in the page, so the container is at the right place 
    Like not exactly below nav bar or even covered by nav bar*/
}

.dropout-trend-graph-container {
    width: min(75rem, 90vw);
    padding: min(3rem, 3.6vw);
    border-radius: min(5rem, 6vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: min(1.4rem, 2.45vw);
    background-color: rgba(2, 96, 76, 0.3);
    transition: 1s;
    /* Graph container */
}

.dropout-trend-graph-container:hover {
    scale: 1.05;
    transition: 1s;
    background-color: rgba(2, 96, 76, 0.24);
}

.dropout-trend-graph {
    width: min(72rem, 86.4vw);
    padding: min(3rem, 3.6vw);
    border-radius: min(3rem, 3.6vw);

    background-color: #e3e0dd;
}

.dropout-table-container {
    width: min(75rem, 90vw);
    padding: min(3rem, 3.6vw);
    border-radius: min(5rem, 6vw);
    font-family: open sans;
    font-style: italic;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(2, 96, 76, 0.3);
    transition: 1s;
    /* Table container, got a different font-familty as well */
}

.dropout-table-container:hover {
    width: min(79.17rem, 95vw);
    padding-left: min(3.8rem, 5.8vw);
    padding-right: min(3.8rem, 5.8vw);
    padding-top: min(3rem, 3.6vw);
    padding-bottom: min(6.4rem, 7.6vh);
    border-radius: min(5rem, 6vw);

    background-color: rgba(2, 96, 76, 0.24);
    transition: 1s;
}

/* End of droppout graph CSS (still have tables in the HTML) */


/* Start of the table CSS */
table {
    border-collapse: collapse;
    width: 96%;
}

td, th {
    border: 0.25rem solid #15121280;
    text-align: left;
    padding: 0.3rem;
    /* Header style */
}

/* Alternating patterns in the rows of table */
tr:nth-child(even) {
    background-color: #e3e0ddbd;
    transition: 0.3s;
}

tr:nth-child(even):hover {
    background-color: #ffffffd8;
    transition: 0.3s;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: transparent;
    transition: 0.3s;
}

tr:nth-child(odd):hover {
    background-color: rgba(2, 96, 76, 0.7);
    transition: 0.3s;
    font-weight: bold;
    color: #e3e0dd;
}

/* The style of titles */
.td-title {
    text-align: center;
    width: 100%;
    height: 5vh;

    font-weight: 600;
}

.td-title:hover {
    color: black;
}

/* End of Table CSS */


/* Start of subject trend graph CSS */
.subject-trend-graph-layout {
    margin-top: 12vh;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ensure the whole page starts at middle rather than on the top...  */
}

.subject-trend-graph-container {
    width: min(75rem, 90vw);
    padding: min(3rem, 3.6vw);
    border-radius: min(5rem, 6vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: min(1.4rem, 2.45vw);
    background-color: rgba(2, 96, 76, 0.3);
    transition: 1s;
    /* Graph container */
}

.subject-trend-graph-container:hover {
    scale: 1.05;
    transition: 1s;
    background-color: rgba(2, 96, 76, 0.24);
}


/* Error 404 page CSS */
.error-text-container1{
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 96, 76, 0.3);
    /* Create the container that has the size of the whole screen and center all the items*/
}

.error-text-container2{
    height: 36vh;
    width: 76vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Put the texts in the middle */
}

.error-text{
    font-size: min(4.2rem, 7.35vw);
    font-weight: bold;
    color: #fdfdfdcf;
}



/* Screen width smaller than 1200px */
@media (max-width: 1200px) {

    /* Smaller Nav link text */
    li {
        font-size: min(1.6rem, 2.8vw);
    }

    li a:hover {
        font-size: min(2rem, 3.5vw);
    }

    /* Different home format */
    .home-background {
        flex-direction: column;
        /* Change flex direction to column */
        align-items: center;
        height: 100%;
        padding-top: 7.5vh;
        padding-bottom: 10%;
    }

    .home-container-left {
        scale: 1.2;
        height: max(60vh, 100%);
        margin: 5vh;

        font-size: min(1.2rem, 2.1vw);
    }

    .home-container-right {
        scale: 1.2;
        height: max(60vh, 100%);
        margin-top: 13vh;

        font-size: min(1.2rem, 2.1vw);
    }

    .home-container-left:hover {
        scale: 1.26;
        transition: 1s;
    }

    .home-container-right:hover {
        scale: 1.26;
        transition: 1s;
    }

    /* Finish small screen home */


    /* Start of subject filter1 CSS for small screen */
    .subject-trend-filter-title {
        font-size: max(2.4rem, 4.2vw);
    }

    .subject-trend-filter-container1 {
        width: 70vw;
        height: 70vh;
        border-radius: 4vh;
        font-size: max(1.2rem, 2.1vw);

        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }

    .subject-trend-filter-layout2 {
        width: 90%;
    }

    .subject-trend-filter-layout3 {
        height: 10vh;
    }

    .subject-trend-filter-label {
        font-size: min(1.4rem, 1.68vw);
    }

    .subject-trend-filter-button {
        font-size: min(1.4rem, 1.68vw);
    }

    select {
        font-size: min(1.2rem, 1.44vw);
    }

    select option {
        font-size: min(1.2rem, 1.44vw);
    }

    /* End of Subject Trend Filter 1 CSS*/


    /* Start of Subject Trend Filter 2 CSS */
    .subject-trend-filter-container2 {
        width: 70vw;
        height: 80vh;
        border-radius: 4vh;
        font-size: max(1.2rem, 2.1vw);

        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }

    /* End of Subject Trend Filter 2 CSS*/
}