html{
    min-height: 100vh;
}

body{
    max-width: 100%;
    min-height: 100vh;
    font-size: min(2rem, 2vw);

    font-family:'Candal';
    font-weight: bold;
    
    background-color: #e6e6e6;
    margin: 0;
}


.top_nav{
    background-color: rgba(0,87,71,255);
    width:100%;
}


.ul_flex{
    width:100%;

    display: flex;
    justify-content: space-between;
    list-style-type: none;

    margin: 0;
    padding: 0;
}

li{
    font-size: min(2rem, 3.5vw);
    background-color: rgb(4,84,68);

    padding-left: min(1.5rem, 1.5vw);
    padding-right: min(1.5rem, 1.5vw);
    padding-top: min(1.5rem, 1.5vh);
    padding-bottom: min(1.5rem, 1.5vh);
}

li a{
    text-decoration: none;
    color: rgb(207,223,220);
}

a{
    text-decoration: none;
}

.home_container{
    width: 100vw;
    height: 88vh;

    display: flex;
    justify-content: center;

    background-color: aqua;
}

.home_container_johnny{
    width: 35%;
    height: 77vh;
    background-color: white;
    margin-right: 5%;
    margin-top: 5.5vh;
}

.home_container_devin{
    width: 35%;
    height: 77vh;
    background-color: white;
    margin-left: 5%;
    margin-top: 5.5vh;
}

.home_image{
    width: 100%;
    height: 44vh;
}


input[type=checkbox] {
    width: min(2rem, 2vw);
    height: min(2rem, 2vw);
}

.dropout_graph_container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.dropout_graph{
    width: 80%;
    height: 80%;
}









