{% extends 'base.html' %}

{% block title %}
<title>Test Data</title>
{% endblock %}

{% block content %}
<div class="dropout_graph_container">
    <div class="dropout_graph">
        <canvas id="dropOutGraph"></canvas>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Link the chart.js-->
    <script>

    let graph = document.getElementById('dropOutGraph').getContext('2d');
    Chart.defaults.font.size = 16;

    let testingGraph = new Chart(graph, 
    {type: 'bar',
    data: {labels: [ '2021', '2022', '2023'],
            datasets: [// Assessment 2 Stack
                {
                    label: 'Assessment1 - E',
                    data: [25, 12, 31],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#ffd966',
                    stack: 'Assessment - 1'
                },
                {
                    label: 'Assessment1 - M',
                    data: [10, 32, 23],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#6d9eeb',
                    stack: 'Assessment - 1'
                },
                {
                    label: 'Assessment1 - A',
                    data: [43, 15, 19],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#5ca017', 
                    stack: 'Assessment - 1'
                },
                {
                    label: 'Assessment1 - NA',
                    data: [21, 31, 13],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#dc4c4c',
                    stack: 'Assessment - 1'
                },


                        {label: 'Assessment2 - E',
                        data: [ 25, 12, 31],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#f49717',
                        stack: 'Assessment - 2'
                        },
                        {label: 'Assessment2 - M',
                        data: [ 10, 32, 23],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#3c78d8',
                        stack: 'Assessment - 2'
                        },

                        {label: 'Assessment2 - A',
                        data: [ 43, 15, 19],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#38761d',
                        stack: 'Assessment - 2'},

                        {label: 'Assessment2 - NA',
                        data: [ 21, 31, 13],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#cc0000',
                        stack: 'Assessment - 2'}
                        
                    ],},
    options: {
        //intersection with mode index can give labels for both point at the same time//

        plugins: {
            title: {
                display: true,
                text: 'title',
                font: {
                    size: 30
                }
            },
            legend:{
                labels:{
                    font:{
                        size:10
                    }
                },
            }
        },
        scales:{
            x:{
                ticks:{
                    callback: function (value){
                        return value+ 2018;// Extract the year part from the label and return it
                        },
                        stacked: true,
                    }
                },
            y:{
                ticks:{
                    callback: function (value){
                        return value + '%'; // Add the percentage symbol to the labels
                        },
                    },
                    suggestedMin: 0, // minimum 0%
                    suggestedMax: 100 // maximum 100%
                }
            }
    }
    });

    </script>

    {{digi_student_list|length}}
    {{initial_student|length}}
    {{final_student|length}}

<!--
    {% for student in student_list %}
-->
    <!--Here we have all the stud5ents that are doing digi-->
<!--
        {% if student|length == 8 %}
            {% for line in student %}
                    {{line}}
                    <br>
            {% endfor %}
            {{student[7]|length}} = d
            <br><br>
        {% endif %}
-->
    <!--
        {{student}} has
        student[0]: Unique ID
        student[1]: Gender
        student[2]: Level
        student[3]: Form class
        student[4]: Ethnicity
        student[5]: Age in full
        student[6]: Attendance -Present in full days
        student[7]: Digital course taken
    -->


    <!-- This one is all the students
        {% for line in student %}
            {{line}}
            <br>
        {% endfor %}
        <br><br>
    -->

<!--
    {% endfor %}
{% endblock %}
-->