{% extends 'base.html' %}


{% block title %}
<title>Dropout Trend Filter</title>
{% endblock %}


{% block content %}
<!--The first box for filtering-->

<form action="/dropout_trend_graph", method="post" class="home_container">
    <div style="background-color: white; margin-top: 5.5vh; width:80%;">
        <div style="margin-left: 10%;">
        <h2>Filters</h2>
        
        <!--First drop down-->
        <label style= "background-color: rgb(220, 172, 39);">Continue/drop out on subject</label>
        <br>
        <select name="group">
            <option value="continue">continue - (default)</option>
            <option value="dropout">dropout</option>
        </select>
        <br>
        <br>
        </div>

        <div style="display:flex">
            <!--Second drop down-->
            <div style="width: 35%; margin-right: 5%; margin-left: 10%;">
                <label>Year of Start</label>
                <br>
                <select name="start_year">
                    <option value="2021">2021 - (default)</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                </select>
            </div>

            <div style="width: 35%; margin-left: 5%;">
                <label>Year of Ending</label>
                <br>
                <select name="end_year">
                    <option value="2022">2022 - (default)</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                </select>
            </div>
        </div>
        <br>
        <br>



        <div style="display:flex">
            <!--Third drop down-->
            <div style="width: 35%; margin-right: 5%; margin-left: 10%;">
                <label>From (subject)</label>
                <br>
                <select name="start_subject">
                    <option value="9DGT">9DGT - (default)</option>
                    <option value="10DGT">10DGT</option>
                    <option value="11DTP">11DTP</option>
                    <option value="12DTP">12DTP</option>
                    <option value="13DTP">13DTP</option>
                </select>
            </div>

            <div style="width: 35%; margin-left: 5%;">
                <label>From (subject)</label>
                <br>
                <select name="end_subject">
                    <option value="10DGT">10DGT - (default)</option>
                    <option value="11DTP">11DTP</option>
                    <option value="12DTP">12DTP</option>
                    <option value="13DTP">13DTP</option>
                </select>
            </div>
            
        </div>
        <br>
        <br>

        <div style="margin-left: 10%;">
            <label style= "background-color: rgb(220, 172, 39);">Curve 1 Ethnicity Category</label>
            <br>
            <details class="simple-dropdown">
                <summary>Select Ethnicities</summary>
                <select name="ethnicity_A" multiple class="unfolded-select">
                    <option value="all">All - (default)</option>
                    <option value="NZ European">NZ European</option>
                    <option value="Maori">Maori</option>
                    <option value="African">African</option>
                    <option value="American">American</option>
                    <option value="Australian">Australian</option>
                    <option value="British">British</option>
                    <option value="Chinese">Chinese</option>
                    <option value="French">French</option>
                    <option value="German">German</option>
                    <option value="Indian">Indian</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Russian">Russian</option>
                    <option value="Samoan">Samoan</option>
                    <option value="Others">Others</option>
                </select>
            </details> 
            <h2>Curve 2 if appliable<input type="checkbox" name="appliable_B" value="appliable" default = 'nothing'></h2>
            <label style= "background-color: rgb(220, 172, 39);">Curve 2 Ethnicity Category</label>
            <br>
            <details class="simple-dropdown">
                <summary>Select Ethnicities</summary>
                <select name="ethnicity_B" multiple class="unfolded-select">
                    <option value="all">All - (default)</option>
                    <option value="NZ European">NZ European</option>
                    <option value="Maori">Maori</option>
                    <option value="African">African</option>
                    <option value="American">American</option>
                    <option value="Australian">Australian</option>
                    <option value="British">British</option>
                    <option value="Chinese">Chinese</option>
                    <option value="French">French</option>
                    <option value="German">German</option>
                    <option value="Indian">Indian</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Russian">Russian</option>
                    <option value="Samoan">Samoan</option>
                    <option value="Others">Others</option>
                </select>
            </details>

            <h2>Curve 3 if appliable<input type="checkbox" name="appliable_C" value="appliable" default = 'nothing'></h2>
            <label style= "background-color: rgb(220, 172, 39);">Curve 3 Ethnicity Category</label>
            <br>
            <details class="simple-dropdown">
                <summary>Select Ethnicities</summary>
                <select name="ethnicity_C" multiple class="unfolded-select">
                    <option value="all">All - (default)</option>
                    <option value="NZ European">NZ European</option>
                    <option value="Maori">Maori</option>
                    <option value="African">African</option>
                    <option value="American">American</option>
                    <option value="Australian">Australian</option>
                    <option value="British">British</option>
                    <option value="Chinese">Chinese</option>
                    <option value="French">French</option>
                    <option value="German">German</option>
                    <option value="Indian">Indian</option>
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Korean">Korean</option>
                    <option value="Russian">Russian</option>
                    <option value="Samoan">Samoan</option>
                    <option value="Others">Others</option>
                </select>
            </details>
        </div>
        <div style="width: 35%; margin-right: 5%; margin-left: 10%;"><input type="submit" value="Submit"></div>
    </div>
    <!--Data can be retreated in {route.py} by {request.form['name']}-->
</form>

{% endblock %}