{% extends 'base.html' %}


{% block title %}
<title>Dropout Trend Graph</title>
{% endblock %}


{% block content %}
<!--All the contents go down here-->

<div class="dropout_graph_container">
    <div class="dropout_graph">
        <canvas id="dropOutGraph"></canvas>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Link the chart.js-->
    <script>

    let graph = document.getElementById('dropOutGraph').getContext('2d');
    Chart.defaults.font.size = 16;

    let continueRate_A = JSON.parse('{{ continue_rate_A|tojson }}');
    let continueRate_B = JSON.parse('{{ continue_rate_B|tojson }}');
    let group_A = JSON.parse('{{ group_A|tojson }}');
    let group_B = JSON.parse('{{ group_B|tojson }}');
    let curve_A = JSON.parse('{{ appliable_A|tojson }}');
    let curve_B = JSON.parse('{{ appliable_B|tojson }}');

    let datasets = [];
    if (curve_A){
        if (group_A =='continous'){
            datasets.push({
                            label: 'Continue Rate Percentage -- Course 1',
                            data: [continueRate_A, 12, 3],
                            borderWidth: 3,
                            hoverBorderWidth:5,
                            hoverBorderColor: '#238fb6'
                        })
                    }
        else{
            datasets.push({
                            label: 'Dropout Rate Percentage -- Course 1',
                            data: [(100-continueRate_A), 12, 3],
                            borderWidth: 3,
                            hoverBorderWidth:5,
                            hoverBorderColor: '#238fb6'
                        })
            }
    };


    if (curve_B){
        if (group_B =='continous'){
            datasets.push({
                            label: 'Continue Rate Percentage -- Course 2',
                            data: [continueRate_B, 42, 9],
                            borderWidth: 3,
                            hoverBorderWidth:5,
                        })
                    }
        else{
            datasets.push({
                            label: 'Dropout Rate Percentage -- Course 2',
                            data: [(100-continueRate_B), 42, 9],
                            borderWidth: 3,
                            hoverBorderWidth:5,
                        })
            }
    };


    let testingGraph = new Chart(graph, 
    {type: 'line',
    options: {
        //intersection with mode index can give labels for both point at the same time//
        interaction: {
            mode: 'index',
            intersect: false,
        },
        
        plugins: {
            title: {
                display: true,
                text: 'Drop Out Trend Graph',
                font: {
                    size: 30
                }
            },
            legend:{
                labels:{
                    font:{
                        size:10
                    }
                },
            }
        },
        scales:{
                y:{
                    ticks:{
                        callback: function (value){
                            return value + '%'; // Add the percentage symbol to the labels
                            },
                        }
                    }
                }
    },

    data: {labels: [ '2021', '2022', '2023'],
            datasets: datasets}
    });
    </script>
{{continue_rate_A}}
{% endblock %}