{% extends 'base.html' %}


{% block title %}
<title>Dropout Trend Graph</title>
{% endblock %}


{% block content %}
<!--All the contents go down here-->

<div class="dropout_graph_container">
    <div class="dropout_graph">
        <canvas id="dropOutGraph"></canvas>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Link the chart.js-->
    <script>

    let graph = document.getElementById('dropOutGraph').getContext('2d');
    Chart.defaults.font.size = 16;

    let continueRate_A = JSON.parse('{{ continue_rate_A|tojson }}');
    let continueRate_B = JSON.parse('{{ continue_rate_B|tojson }}');
    let continueRate_C = JSON.parse('{{ continue_rate_C|tojson }}');
    

    let group = JSON.parse('{{ group|tojson }}');
    let labels = JSON.parse('{{ labels|tojson }}');
    let start_year = JSON.parse('{{ start_year|tojson }}');

    let curve_B = JSON.parse('{{ appliable_B|tojson }}');
    let curve_C = JSON.parse('{{ appliable_C|tojson }}');

    let title;
    
    if (group =='continue'){
        title = 'Continue Rate Trend Graph'}
    else{
        title = 'Dropout Rate Trend Graph'};

    let datasets = [];
    if (group =='continue'){
        datasets.push({
                        label: 'Continue Rate Percentage -- Curve 1',
                        data: continueRate_A,
                        borderWidth: 3,
                        hoverBorderWidth:5,
                        hoverBorderColor: '#238fb6'
                    })
                }
    else{
        let dropoutRates_A = continueRate_A.map((value) => 100 - value);
        datasets.push({
                        label: 'Dropout Rate Percentage -- Curve 1',
                        data: dropoutRates_A,
                        borderWidth: 3,
                        hoverBorderWidth:5,
                        hoverBorderColor: '#238fb6'
                    })
        };

    if (curve_B){
        if (group =='continue'){
            datasets.push({
                            label: 'Continue Rate Percentage -- Curve 2',
                            data: continueRate_B,
                            borderWidth: 3,
                            hoverBorderWidth:5,
                            hoverBorderColor: '#238fb6'
                        })
                    }
        else{
            let dropoutRates_B = continueRate_B.map((value) => 100 - value);
            datasets.push({
                            label: 'Dropout Rate Percentage -- Curve 2',
                            data: dropoutRates_B,
                            borderWidth: 3,
                            hoverBorderWidth:5,
                            hoverBorderColor: '#238fb6'
                        })
            }
    };


    if (curve_C){
        if (group =='continue'){
            datasets.push({
                            label: 'Continue Rate Percentage -- Curve 3',
                            data: continueRate_C,
                            borderWidth: 3,
                            hoverBorderWidth:5,
                        })
                    }
        else{
            let dropoutRates_C = continueRate_C.map((value) => 100 - value);
            datasets.push({
                            label: 'Dropout Rate Percentage -- Curve 3',
                            data: dropoutRates_C,
                            borderWidth: 3,
                            hoverBorderWidth:5,
                        })
            }
    };


    let testingGraph = new Chart(graph, 
    {type: 'line',
    data: {labels: labels,
        datasets: datasets},
    options: {
        //intersection with mode index can give labels for both point at the same time//
        interaction: {
            mode: 'index',
            intersect: false,
        },
        
        plugins: {
            title: {
                display: true,
                text: title,
                font: {
                    size: 30
                }
            },
            legend:{
                labels:{
                    font:{
                        size:10
                    }
                },
            }
        },
        scales:{
                x:{
                    ticks:{
                        callback: function (value){
                            return value + start_year;// Extract the year part from the label and return it
                            },
                        }
                    },
                y:{
                    ticks:{
                        callback: function (value){
                            return value + '%'; // Add the percentage symbol to the labels
                            },
                        },
                        suggestedMin: 0, // minimum 0%
                        suggestedMax: 100 // maximum 100%
                    }
                    
                }
    },

    
    });
    </script>
{{continue_rate_A}}
<br>
{{ethnicity_A}}
{{ethnicity_B}}
{{ethnicity_C}}
<br>
{{end_student_list_A}}
{{end_student_list_B}}
{{end_student_list_C}}

<br>
<h2>All student who took {{start_course}} and their status on {{end_course}}</h2>
<table>
    <tbody>
        <thead>
            <tr>
                <th>Year when taken {{start_course}}</th>
                <th>Status for {{end_course}} (dropped out/continued)</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Ethnicity</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <!--Putting 3 columns at the top to begin-->
        <tr>
            <td>none</td>
            <td>none</td>
            <td>none</td>
            <td>none</td>
            <td>none</td>
            <td>none</td>
        </tr>
    </tbody>
</table>


{% endblock %}