{% extends 'base.html' %}


{% block title %}
<title>error 404</title>
{% endblock %}


{% block content %}
<div class="home-background" style="display:flex; justify-content: center; align-items: center;">
    <!--Setting the texts to be at the middle of the page-->
    <div class="error-text-container1">
    <div class="error-text-container2">
        <div class="error-text"><!--Warn the users-->
            <p style="font-size: min(4.76rem, 8.33vw); height: 0; color: #eef4eaf4">Page Not Found !!!</p><br><br>
            You probably entered the wrong route! <br> Please use the NAVIGATION BAR to recover the error!
        </div>
    </div>
    </div>
</div>

{% endblock %}