{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}
    

{% block content %}

<div class = "home-background">
    <div class = "home-container-left">
        <a href="{{url_for('home')}}">
            <img src="/static/johnny_bar_graph.png" class="home-image" style = "opacity: 0.8;">
        </a>
        This project is made by the other student....<br>
        Not connected to current website yet, please be patient
    </div>

    <div class = "home-container-right">
        <a href="{{url_for('option')}}">
            <img src="/static/devin_bar_graph.png" class="home-image">
        </a>
        Internal management for courses (digital course only):<br><br>
        • Graphs about student dropout rate over years on a subject may be generated<br>
        • Graphs about student performances on a subject over years on a subject may be generated
    </div>

</div>

{% endblock %}