{% extends 'base.html' %}


{% block title %}
<title>Subject Trend Graph</title>
{% endblock %}


{% block content %}
{{start_year}}
<br>
{{end_year}}
<br>
{{subject}}
<br>
{{standard_A}}
{{ethnicity_A}}
<br>
----------------------------------
<br>
{{standard_B}}
{{ethnicity_B}}
<br>
<br>


{{candidate_id_list_A}}
<br>
{{candidate_grade_list_A}}
<br>
{{candidate_year_list_A}}
<br>
----------------------------------
<br>
{{candidate_id_list_B}}
<br>
{{candidate_grade_list_B}}
<br>
----------------------------------
<br>
{{Excellence_A}}
<br>
{{Merit_A}}
<br>
{{Achieve_A}}
<br>
{{Develop_A}}
<br>
{{Not_Achieve_A}}
<br>
<div class="dropout_graph_container">
    <div class="dropout_graph">
        <canvas id="dropOutGraph"></canvas>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Link the chart.js-->
    <script>

    let graph = document.getElementById('dropOutGraph').getContext('2d');
    Chart.defaults.font.size = 16;

    let testingGraph = new Chart(graph, 
    {type: 'bar',
    data: {labels: [ '2021', '2022', '2023'],
            datasets: [// Assessment 2 Stack
                {
                    label: 'Assessment1 - E',
                    data: [25, 12, 31],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#ffd966',
                    stack: 'Assessment - 1'
                },
                {
                    label: 'Assessment1 - M',
                    data: [10, 32, 23],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#6d9eeb',
                    stack: 'Assessment - 1'
                },
                {
                    label: 'Assessment1 - A',
                    data: [43, 15, 19],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#5ca017', 
                    stack: 'Assessment - 1'
                },
                {
                    label: 'Assessment1 - NA',
                    data: [21, 31, 13],
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#238fb6',
                    backgroundColor: '#dc4c4c',
                    stack: 'Assessment - 1'
                },


                        {label: 'Assessment2 - E',
                        data: [ 25, 12, 31],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#f49717',
                        stack: 'Assessment - 2'
                        },
                        {label: 'Assessment2 - M',
                        data: [ 10, 32, 23],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#3c78d8',
                        stack: 'Assessment - 2'
                        },

                        {label: 'Assessment2 - A',
                        data: [ 43, 15, 19],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#38761d',
                        stack: 'Assessment - 2'},

                        {label: 'Assessment2 - NA',
                        data: [ 21, 31, 13],
                        borderWidth: 1,
                        hoverBorderWidth:3,
                        hoverBorderColor: '#238fb6',
                        backgroundColor: '#cc0000',
                        stack: 'Assessment - 2'}
                        
                    ],},
    options: {
        //intersection with mode index can give labels for both point at the same time//

        plugins: {
            title: {
                display: true,
                text: 'title',
                font: {
                    size: 30
                }
            },
            legend:{
                labels:{
                    font:{
                        size:10
                    }
                },
            }
        },
        scales:{
            x:{
                ticks:{
                    callback: function (value){
                        return value+ 2018;// Extract the year part from the label and return it
                        },
                        stacked: true,
                    }
                },
            y:{
                ticks:{
                    callback: function (value){
                        return value + '%'; // Add the percentage symbol to the labels
                        },
                    },
                    suggestedMin: 0, // minimum 0%
                    suggestedMax: 100 // maximum 100%
                }
            }
    }
    });

    </script>


{% endblock %}