{% extends 'base.html' %}


{% block title %}
<title>Subject Trend Filter</title>
{% endblock %}


{% block content %}
<div class="loading"><div class="loading-text">Loading ~ </div></div>
<form action="/subject_trend_filter2", method="post", class="subject-trend-filter-background">
    <div class="subject-trend-filter-container1">

        <div class="subject-trend-filter-layout1">

            <div class="subject-trend-filter-title">Subject Trend Filter</div>
                The graph will contain the grades that students get in their SELECTED assessment over a SELECTED time interval:<br><br>
                • Please SELECT the "YEAR INTERVAL" you want your graph to generate (from "Year of Start" to "Year of Finish")<br>
                • Please SELECT the "COURSE" you want your graph to generate (e.g. "9DGT", "11DTP")<br><br>

            <div class="subject-trend-filter-layout2">
                <!--Second drop down-->
                <div class="subject-trend-filter-layout3">
                    <label class="subject-trend-filter-label">Year of Start</label>
                    <select name="start_year">
                        <option value="2021">2021 - (default)</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
                

                <div class="subject-trend-filter-layout3">
                    <label class="subject-trend-filter-label">Year of Ending</label>
                    <select name="end_year">
                        <option value="2022">2022 - (default)</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div>
        
            <!--Third drop down-->
            <div class="subject-trend-filter-layout3">
                <label class="subject-trend-filter-label">Course</label>
                <select name="course">
                    <option value="9DGT">9DGT - (default)</option>
                    <option value="10DGT">10DGT</option>
                    <option value="11DTP">11DTP</option>
                </select>
            </div>
            <br>

            <input type="submit" class="subject-trend-filter-button" value="Next Step">
        </div>
        
    </div>
    <!--Data can be retreated in {route.py} by {request.form['name']}-->
</form>
{% endblock %}