{% extends 'base.html' %}


{% block title %}
<title>Subject Trend Graph</title>
{% endblock %}


{% block content %}
{{start_year}}
<br>
{{end_year}}
<br>
{{subject}}
<br>
{{standard_A}}
{{ethnicity_A}}
<br>
----------------------------------
<br>
{{standard_B}}
{{ethnicity_B}}
<br>
<br>


{{candidate_id_list_A}}
<br>
{{candidate_grade_list_A}}
<br>
{{candidate_year_list_A}}
<br>
----------------------------------
<br>
{{candidate_id_list_B}}
<br>
{{candidate_grade_list_B}}
<br>
----------------------------------
<br>
{{grade_percentage_A}}
<br>
{{grade_percentage_B}}
<br>


<div class="dropout_graph_container">
    <div class="dropout_graph">
        <canvas id="sujectTrendGraph"></canvas>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Link the chart.js-->
    <script>



    let graph = document.getElementById('sujectTrendGraph').getContext('2d');
    Chart.defaults.font.size = 16;

    let title = JSON.parse('{{ title|tojson }}');
    let labels = JSON.parse('{{ labels|tojson }}');
    
    let start_year = JSON.parse('{{ start_year|tojson }}');
    let grade_percentage_A = JSON.parse('{{ grade_percentage_A|tojson }}');
    let grade_percentage_B = JSON.parse('{{ grade_percentage_B|tojson }}');

    let datasets = [{
        label: 'Assessment1 - E',
        data: grade_percentage_A[0],
        borderWidth: 1,
        hoverBorderWidth: 3,
        hoverBorderColor: '#238fb6',
        backgroundColor: '#ffd966',
        stack: 'Assessment - 1'
        },
        {
            label: 'Assessment1 - M',
            data: grade_percentage_A[1],
            borderWidth: 1,
            hoverBorderWidth: 3,
            hoverBorderColor: '#238fb6',
            backgroundColor: '#6d9eeb',
            stack: 'Assessment - 1'
        },
        {
            label: 'Assessment1 - A',
            data: grade_percentage_A[2],
            borderWidth: 1,
            hoverBorderWidth: 3,
            hoverBorderColor: '#238fb6',
            backgroundColor: '#5ca017', 
            stack: 'Assessment - 1'
        },
        {
            label: 'Assessment1 - NA',
            data: grade_percentage_A[3],
            borderWidth: 1,
            hoverBorderWidth: 3,
            hoverBorderColor: '#238fb6',
            backgroundColor: '#dc4c4c',
            stack: 'Assessment - 1'
        }];

    if (grade_percentage_B){
        datasets.push(
            {label: 'Assessment2 - E',
            data: grade_percentage_B[0],
            borderWidth: 1,
            hoverBorderWidth:3,
            hoverBorderColor: '#238fb6',
            backgroundColor: '#f49717',
            stack: 'Assessment - 2'
            });

        datasets.push(
            {label: 'Assessment2 - M',
            data: grade_percentage_B[1],
            borderWidth: 1,
            hoverBorderWidth:3,
            hoverBorderColor: '#238fb6',
            backgroundColor: '#3c78d8',
            stack: 'Assessment - 2'
            });

        datasets.push(
            {label: 'Assessment2 - A',
            data: grade_percentage_B[2],
            borderWidth: 1,
            hoverBorderWidth:3,
            hoverBorderColor: '#238fb6',
            backgroundColor: '#38761d',
            stack: 'Assessment - 2'
            });

        datasets.push(
            {label: 'Assessment2 - NA',
            data: grade_percentage_B[3],
            borderWidth: 1,
            hoverBorderWidth:3,
            hoverBorderColor: '#238fb6',
            backgroundColor: '#cc0000',
            stack: 'Assessment - 2'}
        );
    }

    let testingGraph = new Chart(graph, 
    {type: 'bar',
    data: {labels: labels,
            datasets: datasets},


    options: {
        //intersection with mode index can give labels for both point at the same time//

        plugins: {
            title: {
                display: true,
                text: title,
                font: {
                    size: 20
                }
            },
            legend:{
                labels:{
                    font:{
                        size:10
                    }
                },
            }
        },
        scales:{
            x:{
                ticks:{
                    callback: function (value){
                        return value + start_year;// Extract the year part from the label and return it
                        },
                    }
                },
            y:{
                ticks:{
                    callback: function (value){
                        return value + '%'; // Add the percentage symbol to the labels
                        },
                    },
                    suggestedMin: 0, // minimum 0%
                    suggestedMax: 100 // maximum 100%
                }
            }
    }
    });

    </script>


{% endblock %}