{% extends 'base.html' %}


{% block title %}
<title>Subject Trend Filter</title>
{% endblock %}


{% block content %}
<div class="loading"><div class="loading-text">Loading ~ </div></div>

<form action="/subject_trend_graph", method="post" class="subject-trend-filter-background">
    <div class="subject-trend-filter-container2">
    <div class="subject-trend-filter-layout1">
        <div class="subject-trend-filter-title">Subject Trend Filter</div>
                The graph will contain the grades that students get in their SELECTED assessment over a SELECTED time interval:<br><br>
                • Please TICK the box for whether you need to generate a second curve<br>
                • Please SELECT the interested ethnicites of the students<br> <div class="note">(note: you can multi-select ethnicites by using "Ctrl + Click")</div><br><br>
    
        <div class="subject-trend-filter-layout4">
                <div class="subject-trend-filter-layout5">

                    <div class="subject-trend-filter-layout6">
                        <label class="subject-trend-filter-label">Standard - Curve 1</label>
                        <select name="standard_A">
                            {% for result in session['course_list'] %}
                                <option value="{{result}}">{{result}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    

                    <div class="subject-trend-filter-layout6">
                        <label class="subject-trend-filter-label">Standard - Curve 2 
                            <input class="styled-checkbox" type="checkbox" name="appliable_B" value="appliable" default = 'nothing'>
                            <span class="tick"></span>
                        </label>
                        <select name="standard_B">
                            {% for result in session['course_list'] %}
                                <option value="{{result}}">{{result}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <!--The first space-between flex box ends here-->


                <div class="subject-trend-filter-layout5">
                    <div class="subject-trend-filter-layout6">
                        <br>
                        <label class="subject-trend-filter-label">Curve 1 Ethnicity Category</label>
                        <details>
                            <summary class="multiple-dropdown">Select Ethnicities - Curve 1</summary>
                            <select class="multiple-select" name="ethnicity_A" multiple>
                                <option value="all">All - (default)</option>
                                <option value="NZ European">NZ European</option>
                                <option value="Maori">Maori</option>
                                <option value="African">African</option>
                                <option value="American">American</option>
                                <option value="Australian">Australian</option>
                                <option value="British">British</option>
                                <option value="Chinese">Chinese</option>
                                <option value="French">French</option>
                                <option value="German">German</option>
                                <option value="Indian">Indian</option>
                                <option value="Italian">Italian</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Korean">Korean</option>
                                <option value="Russian">Russian</option>
                                <option value="Samoan">Samoan</option>
                                <option value="Others">Others</option>
                            </select>
                        </details>
                    </div>
                    
                    <div class="subject-trend-filter-layout6">
                        <br>
                        <label class="subject-trend-filter-label">Curve 2 Ethnicity Category</label>
                        <details >
                            <summary class="multiple-dropdown">Select Ethnicities - Curve 2</summary>
                            <select class="multiple-select" name="ethnicity_B" multiple>
                                <option value="all">All - (default)</option>
                                <option value="NZ European">NZ European</option>
                                <option value="Maori">Maori</option>
                                <option value="African">African</option>
                                <option value="American">American</option>
                                <option value="Australian">Australian</option>
                                <option value="British">British</option>
                                <option value="Chinese">Chinese</option>
                                <option value="French">French</option>
                                <option value="German">German</option>
                                <option value="Indian">Indian</option>
                                <option value="Italian">Italian</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Korean">Korean</option>
                                <option value="Russian">Russian</option>
                                <option value="Samoan">Samoan</option>
                                <option value="Others">Others</option>
                            </select>
                        </details>
                    </div> 
                </div>
                <!--The second space-between flex box ends here-->
                <br>
                <div><input class="subject-trend-filter-button" type="submit" value="Next Step"></div>
            </div>
    </div>
    </div>
    <!--Data can be retreated in {route.py} by {request.form['name']}-->
</form>
{% endblock %}